<div class="lista-bolsa">
  <div>
    <select class="form-select" name="select-nivel" id="select-nivel">
      <option value="1">EDUCACIÓN PREESCOLAR</option>
      <option value="2">EDUCACIÓN PRIMARIA</option>
      <option value="3">SECUNDARIAS</option>
      <option value="4">SECUNDARIAS TÉCNICAS</option>
      <option value="5">EDUCACIÓN ESPECIAL</option>
      <option value="6">EDUCACIÓN INDIGENA</option>
      <option value="7">EDUCACIÓN PARA ADULTOS</option>
      <option value="8">TELESECUNDARIAS</option>
      <option value="9">EDUCACIÓN FÍSICA</option>
      <option value="10">PRIMARIA</option>
    </select>
    <h3>Lista de Centros de Trabajo disponibles</h3>
    <hr />
  </div>
  <div #tableContainer id="tableContainer" class="tableContainer">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">CCT</th>
          <th scope="col">Nombre Escuela</th>
          <th scope="col">Municipio</th>
          <th scope="col">Categoria</th>
          <th scope="col">Horas</th>
          <th scope="col">Asignatura</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
        <tr>
          <td>CCT1</td>
          <td>Nombre escuela</td>
          <td>Municipio</td>
          <td>Categoria</td>
          <td>Jornada/NNH</td>
          <td>Asignatura</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
