.tableContainer {
  /* overflow-y: auto; */
}

.lista-bolsa {
  margin: 15px;
  padding: 10px;
  background-color: white;
}

td {
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}
