<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">SICCT - SCAMM</a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homeAdmin"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movimientos</a>
        </li>
      </ul>
      <!-- Left links -->
      <div
        class="container-md"
        style="text-align: center; margin: 0; padding: 0"
      >
        <h4>ABIGAIL REBOLLEDO OCAMPO</h4>
        <p><b>CURP: </b>REOA931128MMSBCB08 <b>RFC: </b>REOA931128E53</p>
        <div class="row">
          <div class="col" style="display: flex; justify-content: center">
            <p><b>Plazas:</b></p>
            <ul style="display: table; margin: 0">
              <li>071712E028100105123</li>
              <li>071712E028100105123</li>
              <li>071712E028100105123</li>
            </ul>
          </div>
          <div class="col" style="display: flex; justify-content: center">
            <p><b>CT</b></p>
            <ul style="display: table; margin: 0">
              <li>17DPR1070B</li>
              <li>17DPR0001A</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Search form -->
      <form class="d-flex input-group" style="width: 500px; right: 10px">
        <select
          class="form-control selectpicker"
          id="participante"
          data-live-search="true"
        >
          <option
            *ngFor="let inscrito of inscritosSinMovimiento"
            [value]="inscrito"
          >
            {{ inscrito.curp }}
          </option>
        </select>
      </form>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
