.container-filas {
  margin: 5px;
  width: inherit;
  display: block;
  overflow: auto;
  max-height: 85vh;
}

td{
  text-align: center;
  vertical-align: middle;
}

.swal-modal-size{
  /* width:50em !important; */
  background-color: red;
}
